body {
  background-color: goldenrod;
  color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    font-size: 8rem;
    color: #fff;
    text-shadow: 0 0 2rem black;
}